---
import SocialLinks from "@/components/SocialLinks.astro";
---

<footer class="sticky top-[100vh] mx-auto w-full max-w-4xl px-6">
  <div
    class="flex w-full flex-col justify-between gap-2 border-t border-neutral-500 py-6 sm:flex-row"
  >
    <h3 class="text-lg text-neutral-100">Get in touch</h3>
    <SocialLinks />
  </div>
</footer>
